<table mat-table [dataSource]="(bannersData$ | async) ?? []">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <p *ngIf="element.active">Active</p>
      <p *ngIf="!element.active">Inactive</p>
    </td>
  </ng-container>
  <ng-container matColumnDef="Zone">
    <th mat-header-cell *matHeaderCellDef> Zone </th>
    <td mat-cell *matCellDef="let element"> {{element.zoneId}} </td>
  </ng-container>
  <ng-container matColumnDef="StartDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
  </ng-container>
  <ng-container matColumnDef="EndDate">
    <th mat-header-cell *matHeaderCellDef> End Date </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!!element.endDate; else noEndDate">{{element.endDate | date}}</ng-container>
      <ng-template #noEndDate>
        N/A
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="Labels">
    <th mat-header-cell *matHeaderCellDef> Labels </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.labels.length > 0; else noLabels">
        <ul class="grid grid-cols-4 gap-2 inline-grid">
          <li *ngFor="let label of element.labels" class="p-2 bg-gray-100">{{label | titlecase}}</li>
        </ul>
      </ng-container>
      <ng-template #noLabels>N/A</ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="Image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element">
      <div class="my-5 min-w-[9rem] min-h-[9rem] max-w-[9rem] max-h-[9rem] flex items-center">
        <img [src]="apiUrl + '/blob/' + element.fileId" alt="banner" class="w-full">
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row *matRowDef="let row;
    columns: displayedColumns;"
    class="hover:bg-gray-200 hover:cursor-pointer border-gray-300"
    (click)="showEditBannerForm(row)"
  ></tr>
</table>
<br>
<div class="fixed bottom-5 right-1/2 translate-x-1/2 border-y-blue-600 border-2 bg-white p-2">
  <mat-paginator
    color="primary"
    [pageSizeOptions]="[3, 5, 10]"
    [pageSize]="(bannersPageSize$ | async) ?? 3"
    showFirstLastButtons
    [pageIndex]="(bannersPage$ | async) ?? 0"
    [length]="(totalPages$ | async) ?? 0"
    (page)="pageChange($event)"
  >
  </mat-paginator>
</div>

