<form [formGroup]="searchBannersForm" (submit)="bannersSearch()" class="flex gap-5 items-center">
  <mat-form-field appearance="fill" color="primary">
    <mat-label>Search By Name</mat-label>
    <input  matInput placeholder="Banner name" formControlName="search">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <mat-select formControlName="sortDirection">
      <mat-option value="asc">Increasing</mat-option>
      <mat-option value="desc">Decreasing</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sort By</mat-label>
    <mat-select formControlName="sortBy">
      <mat-option value="name.raw">Name</mat-option>
      <mat-option value="id">Id</mat-option>
      <mat-option value="language">Language</mat-option>
      <mat-option value="startDate">Start Date</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="ml-4" [disabled]="!searchBannersForm.touched" mat-raised-button color="warn">Filter & Sort<mat-icon>filter_list</mat-icon></button>
</form>
<div class="mat-elevation-z8">
