<div class="max-w-[150rem] mx-auto">
  <mat-drawer-container class="min-h-screen" [hasBackdrop]="true">
    <mat-drawer class="w-full md:w-2/3" #drawer mode="over" position="end" [opened]="drawerIsOpen" (openedChange)="drawerChange()">
      <app-banner-form></app-banner-form>
    </mat-drawer>
    <mat-drawer-content>
      <div class="fixed right-10 top-10" >
        <mat-button-toggle *ngIf="!drawer.opened" (click)="drawer.toggle()">Add Banner</mat-button-toggle>
      </div>
      <div class="bg-red-50 rounded-xl p-20 mx-[5rem] my-20">
        <form [formGroup]="searchBannersForm" (submit)="searchBanners()">
          <mat-form-field appearance="fill" color="primary">
            <mat-label>Search banners</mat-label>
            <input  matInput placeholder="Banner name" formControlName="search">
          </mat-form-field>
        </form>
        <div class="mat-elevation-z8">
          <app-banner-table [dataSource]="banners" ></app-banner-table>
          <mat-paginator
            [pageSizeOptions]="[1, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
            [pageIndex]="page"
            [length]="totalPages" (page)="onPageChange($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

