<div class="min-w-full py-5">
  <div class="flex justify-between mx-10 my-2" >
    <button (click)="onCloseDrawer()" mat-raised-button color="primary"><mat-icon>backspace</mat-icon> Cancel</button>
    <button (click)="onOpenConfirmationModal()" mat-raised-button color="accent" *ngIf="showDeleteButton$">
      Delete Banner
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <form [formGroup]="bannerForm" (submit)="onSubmitBannerData()">
    <div class="flex flex-col mx-10 mt-5">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" id="name" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Priority</mat-label>
        <input type="number" formControlName="priority" id="priority" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Zone</mat-label>
        <mat-select formControlName="zoneId">
          <mat-option *ngFor="let zone of zones$" [value]="zone.key">{{zone.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Url</mat-label>
        <input type="url" formControlName="url" id="url" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Channel</mat-label>
        <mat-select formControlName="channelId">
          <mat-option *ngFor="let channel of channels$" [value]="channel.key">{{channel.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
          <mat-option *ngFor="let language of languages$" [value]="language.key">{{language.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group formControlName="active" class="flex flex-col" aria-labelledby="active-group" aria-label="Select an option">
        <mat-label>Status*</mat-label>
        <mat-radio-button [value]="true">Active</mat-radio-button>
        <mat-radio-button [value]="false">Inactive</mat-radio-button>
      </mat-radio-group>
      <div class="invisible">
        <input  accept="image/*" type="file" id="image" (change)="onSelectedFile($event)">
      </div>
      <mat-form-field>
        <mat-label *ngIf="bannerForm.controls['fileId'].value">Selected Image:</mat-label>
        <input type="text" formControlName="fileId" id="fileId" class="invisible"  matInput>
        <div *ngIf="uploadBlobLoader" class="flex justify-center items-center mx-auto max-h-[20rem] min-h-[20rem]">
          <mat-spinner></mat-spinner>
        </div>
        <img *ngIf="bannerForm.controls['fileId'].value && !uploadBlobLoader" [src]="apiUrl + '/blob/' + bannerForm.controls['fileId'].value" alt="banner"  class="block mx-auto max-h-[20rem]">
        <label for="image" class="h-10 w-full cursor-pointer flex items-center gap-2 bg-gray-300 transition-all hover:bg-gray-400 mt-2 pl-5">
          <mat-icon>image</mat-icon>
          <span>Choose Image*</span>
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Labels</mat-label>
        <mat-select formControlName="labels" multiple>
          <mat-option *ngFor="let label of labels$" [value]="label.key">{{label.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="bg-blue-300 md:text-xl rounded disabled:bg-amber-10 disabled:cursor-not-allowed" [disabled]="bannerForm.invalid"  mat-raised-button color="primary">
        <ng-container *ngIf="showDeleteButton$; else noDelete">Edit Banner</ng-container>
        <ng-template #noDelete>Create Banner</ng-template>
      </button>
    </div>
    <h1  *ngIf="formApiError$" class="absolute top-2 left-1/2 bg-red-500 text-black text-center h-10 text-xl w-36 -translate-x-1/2">
      Server Error
    </h1>
  </form>
</div>
<div class="absolute top-0 left-0 right-0 bottom-0 z-50 bg-gray-500 opacity-50" *ngIf="submitBannerDataIsLoading$ && !formApiError$">
  <mat-spinner class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></mat-spinner>
</div>
<div class="absolute top-0 left-0 right-0 bottom-0 z-10 bg-gray-500 opacity-60" *ngIf="confirmationDialog">
</div>

<div *ngIf="confirmationDialog" class="absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-800 text-gray-200 px-10 py-10 rounded-md w-2/3">
  <h1>Delete Banner</h1>
  <p>Are you sure you want to remove this Banner? This action can not be undone!</p>
  <div class="flex justify-between">
    <button mat-raised-button color="white" (click)="onCloseConfirmationModal()" >cancel</button>
    <button mat-raised-button color="warn"  (click)="onDeleteBanner()">delete</button>
  </div>
</div>
