<div class="min-w-full">
  <form [formGroup]="bannerForm" (submit)="submitBannerData()">
    <div class="flex flex-col w-1/3 ml-10 mt-10">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" id="name" matInput>
      </mat-form-field>
      <div class=" h-12 rounded-t border border-b-gray-300 bg-gray-100 mb-4">
        <label mat-mini-fab for="image"  class="flex items-center text-center text-md w-full h-full cursor-pointer hover:bg-gray-200">
          <mat-icon>attach_file</mat-icon>
          <span *ngIf="!imageName">Upload Image </span>
          <span *ngIf="imageName">{{imageName}}</span>
        </label>
        <input class="invisible" type="file" id="image" formControlName="fileId" (change)="onSelectedFile($event)">
      </div>
      <mat-form-field>
        <mat-label>Priority</mat-label>
        <input type="number" formControlName="priority" id="priority" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Zone</mat-label>
        <mat-select formControlName="zoneId">
          <mat-option *ngFor="let zone of zones" [value]="zone.key">{{zone.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Url</mat-label>
        <input type="text" formControlName="url" id="url" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Channel</mat-label>
        <mat-select formControlName="channelId">
          <mat-option *ngFor="let channel of channels" [value]="channel.key">{{channel.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
          <mat-option value="en">English</mat-option>
          <mat-option value="ka">Georgian</mat-option>
        </mat-select>
      </mat-form-field>
      <label id="status-group">Status</label>
      <mat-radio-group formControlName="active" class="flex flex-col" aria-labelledby="active-group" aria-label="Select an option">
        <mat-radio-button [value]="true">Active</mat-radio-button>
        <mat-radio-button [value]="false">Inactive</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Toppings</mat-label>
        <mat-select formControlName="labels" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="bg-blue-300 md:text-xl rounded disabled:bg-amber-10 disabled:cursor-not-allowed" [disabled]="bannerForm.invalid"  mat-raised-button color="accent">Submit</button>
    </div>
  </form>
</div>

