<div class="bg-blue-500 flex-col items-center p-10 rounded-xl text-xl h-[50rem]">
  <div class="h-2/3 flex justify-center">
    <img [ngSrc]="imageBaseUrl" width="700" height="500" alt="banner" class="h-full rounded-xl overflow-hidden">
  </div>
  <div>
    <p>Name: {{banner.name}}</p>
    <p >Active: {{banner.active}}</p>
    <p>Zone: {{banner.zoneId}}</p>
    <p>startDate: {{banner.startDate | date}} - {{banner.endDate | date}}</p>
    <p>Labels: <span *ngFor="let label of banner.labels">{{label}}</span></p>
  </div>
</div>
